# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask

# Flask Packages
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-User

# Automated tests
pytest
pytest-cov
scikit-learn
pandas
numpy
gunicorn
click
Jinja2
MarkupSafe
Werkzeug
