h1 {
    color:darkblue;
    font: size 60px;
}
body{
    background: #f4f4f4;
}


form {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
}

select {
  height: 34px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.center {
  text-align: center;
}


.mainContent{
  width: 85%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
